body {
    background:#acf49f;
    height:100vh;
    width:100%;
    margin:0;
}
#myCanvas {
    margin-left:0;
    margin-right:0;
    margin-top: 10%;
    text-align: center;
    animation: anim 3s linear 0.75s infinite alternate none;
    border-radius: 50%;
    
}
@keyframes anim {
0% {margin-left: 5%; background: dodgerblue;}
25% {margin-left: 25%; background: crimson; transform:rotate(45deg)}
50% {margin-left: 45%; background: darkorange; transform:rotate(90deg)}
75% {margin-left: 65%; background: limegreen; transform:rotate(135deg)}
100% {margin-left: 70%; background: darkgreen; transform:rotate(175deg)}
}